# Database Connection URL (MongoDB)
# Local: mongodb://username:password@localhost:27017/ecosafe
# Atlas: mongodb+srv://username:password@cluster.mongodb.net/ecosafe?retryWrites=true&w=majority
DATABASE_URL="mongodb://localhost:27017/ecosafe"

# JWT Token Signing Secret
JWT_SECRET="ecosafe-secret"

# Server Port Configuration
PORT=5000
