# Database Connection URL (MongoDB)
# Local: mongodb://username:password@localhost:27017/ecosafe
# Atlas: mongodb+srv://awajiikatelemfelix_db_user:Ecosafe2009@cluster0.i5heo4u.mongodb.net/?appName=Cluster0

DATABASE_URL="mongodb+srv://awajiikatelemfelix_db_user:Ecosafe2009@cluster0.i5heo4u.mongodb.net/?appName=Cluster0"

# JWT Token Signing Secret
JWT_SECRET="ecosafe-secret"

# Server Port Configuration
PORT=5000
